<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/css/style.css">
        <title>なんでも掲示板</title>
    </head>
    <body>
        <header>
            <div class="header_inner">
                <h1><a href="/">なんでも掲示板</a></h1>
                <nav id="js_nav">
                    <ul>
                        <li>ようこそ&nbsp;ゲストさん</li>
                        <li><a href="/new">新規スレッドを書く</a></li>
                        <li><a href="/login">ログイン</a></li>
                        <li><a href="/register">新規ユーザー登録</a></li>
                        <li><a id="board_search">掲示板検索</a></li><!-- 押すと下の検索ボックスが現れる -->
                        <li><input type="text" placeholder="検索" id="board_search_box"></li>
                        <!-- <li><a href="/favorite">お気に入り一覧</a></li>ログインユーザーのみ -->
                    </ul>
                </nav>
                <button class="header_hamburger hamburger" id="js_hamburger">
                    <span></span><span></span><span></span>
                </button>
            </div>
        </header>
        <main>
            <div class="container">
                <div class="all">
                    <section class="thread">
                        <h2>No.1 スレッドタイトル</h2>
                        <section>
                            <h3>1.名前：ユーザー名：2024/4/25(木)15:42 <a href="">編集</a></h3>
                            <p class="contents">コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容</p>
                        </section>
                        <section>
                            <h3>2.名前：ユーザー名：2024/4/25(木)15:43 <a href="">編集</a></h3>
                            <p class="contents">コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容</p>
                        </section>
                        <section>
                            <h3>3.名前：ユーザー名：2024/4/25(木)15:45 <a href="">編集</a></h3>
                            <p class="contents">コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容</p>
                        </section>
                        <div class="options">
                            <p><a id="comment">書き込む</a></p>
                            <p><a>お気に入り(ふぁぼ数)</a></p>
                        </div>
                    </section>
                </div>
            </div>
        </main>
        <footer>
            <div class="container"><small>&copy;2024 message-board.All Rights Reserved.</small></div>
        </footer>
    </body>
    <script>
        const ham = document.getElementById("js_hamburger");
        const nav = document.getElementById("js_nav");
        ham.addEventListener("click", function () {
            ham.classList.toggle("active")
            nav.classList.toggle("active")
        })
        const board_search = document.getElementById("board_search");
        const box = document.getElementById("board_search_box");
        board_search.addEventListener("click", function () {
            box.classList.toggle("active")
        })
        const comment = document.getElementById('comment');
        comment.addEventListener("click", function () {
            const thread = document.querySelectorAll(".thread")[0];
            const insert_area = document.createElement("div");
            insert_area.innerHTML = `
                            <label for="username">名前</label><input type="text" id="username" name="username">
                            <label for="email">email</label><input type="text" id="email" name="email">
                            <textarea name="" id="" cols="50" rows="10"></textarea><button class="btn" id="comment_btn">書き込む</button>`
            thread.append(insert_area)
        }, false)
    </script>
</html>
