<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/css/style.css">
        <title>なんでも掲示板</title>
    </head>
    <body>
        <%- header %>
        <main>
            <div class="container">
                <div class="top">
                    <section class="newThread">
                        <p><a href="/new">新規スレッドを書く</a></p>
                    </section>
                    <section class="threads">
                        <div>
                            <a href="">No.0 スレッドタイトル(レス数)</a>, <a href="">No.1 スレッドタイトル(レス数)</a>, <a href="">No.2 スレッドタイトル(レス数)</a>, <a href="">No.3 スレッドタイトル(レス数)</a>, <a href="">No.4 スレッドタイトル(レス数)</a>, <a href="">No.5 スレッドタイトル(レス数)</a>, <a href="">No.6 スレッドタイトル(レス数)</a>, <a href="">No.7 スレッドタイトル(レス数)</a>, <a href="">No.8 スレッドタイトル(レス数)</a>, <a href="">No.9 スレッドタイトル(レス数)</a>...
                        </div>
                    </section>
                    <section class="thread">
                        <h2>No.1 スレッドタイトル</h2>
                        <section>
                            <h3>1.名前：ユーザー名：2024/4/25(木)15:42 <a href="/edit">編集</a></h3>
                            <p class="contents">コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容</p>
                        </section>
                        <section>
                            <h3>2.名前：ユーザー名：2024/4/25(木)15:43 <a href="/edit">編集</a></h3>
                            <p class="contents">コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容</p>
                        </section>
                        <div class="options">
                            <p><a class="comment">書き込む</a></p>
                            <p><a>お気に入り(ふぁぼ数)</a></p>
                            <p><a href="/all">全部読む(レス数)</a></p>
                        </div>
                    </section>
                    <section class="thread">
                        <h2>No.2 スレッドタイトル</h2>
                        <section>
                            <h3>1.名前：ユーザー名：2024/4/25(木)15:42 <a href="/edit">編集</a></h3>
                            <p class="contents">コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容</p>
                        </section>
                        <section>
                            <h3>2.名前：ユーザー名：2024/4/25(木)15:43 <a href="/edit">編集</a></h3>
                            <p class="contents">コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容コンテンツ内容</p>
                        </section>
                        <div class="options">
                            <p><a class="comment">書き込む</a></p>
                            <p><a>お気に入り(ふぁぼ数)</a></p>
                            <p><a href="/all">全部読む(レス数)</a></p>
                        </div>
                    </section>
                </div>
            </div>
        </main>
        <footer>
            <div class="container"><small>&copy;2024 message-board.All Rights Reserved.</small></div>
        </footer>
    </body>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const comment = document.querySelectorAll('.comment');
            for (let i = 0; i < comment.length; i++) {
                comment[i].addEventListener("click", function () {
                    const thread = document.querySelectorAll(".thread")[i];
                    const insert_area = document.createElement("div");
                    insert_area.innerHTML = `
                            <label for="username">名前</label><input type="text" id="username" name="username">
                            <label for="email">email</label><input type="text" id="email" name="email">
                            <textarea name="" id="" cols="50" rows="10"></textarea><button class="btn" id="comment_btn">書き込む</button>`
                    thread.append(insert_area)
                }, false)
            }
        }, false)
    </script>
</html>
