<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/css/style.css">
        <title>なんでも掲示板</title>
    </head>
    <body>
        <header>
            <div class="header_inner">
                <h1>なんでも掲示板</h1>
                <nav id="js_nav">
                    <ul>
                        <li>ようこそ&nbsp;○○さん</li>
                        <li><a href="">新規スレッドを書く</a></li>
                        <li><a href="/login">ログイン</a></li>
                        <li><a href="/register">新規ユーザー登録</a></li>
                        <li><a href="">掲示板検索</a></li><!-- 押すと下の検索ボックスが現れる -->
                        <!-- <li><input type="text" placeholder="検索"></li> -->
                    </ul>
                </nav>
                <button class="header_hamburger hamburger" id="js_hamburger">
                    <span></span><span></span><span></span>
                </button>
            </div>
        </header>
        <main>
            <div class="container">
                <section class="register">
                    <form class="register_form" action="" method="">
                        <h2>新規ユーザー登録</h2>
                        <label for="user">ユーザー名</label><input type="text" id="user" name="user" />
                        <label for="id">ID(メールアドレス)</label><input type="text" id="id" name="id" />
                        <label for="pass">パスワード</label><input type="text" id="pass" name="pass" />
                        <button id="register_btn" type="submit">登録</button>
                        <!-- ボタンを押すとバリデーション -->
                    </form>
                </section>
            </div>
        </main>
        <footer>
            <div class="container"><small>&copy;2024 message-board.All Rights Reserved.</small></div>
        </footer>
    </body>
    <script>
        const ham = document.getElementById("js_hamburger");
        const nav = document.getElementById("js_nav");
        ham.addEventListener("click", function () {
            ham.classList.toggle("active")
            nav.classList.toggle("active")
        })
    </script>
</html>
